/* style.css */

body {
    background-color: skyblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid darkblue;
  }
  h1 {
    color: blue;
  }
  

  img {
    height: auto;
    width: 500px;
  }